body {
  background: linear-gradient(134.93deg, #59A963 25.83%, #B0DC96 93.47%) no-repeat;
  background-attachment: fixed;
}

.content {
  margin: auto;
  max-width: 800px;
  color: white;
}

header {
  margin-bottom: 100px;
}

footer {
  margin-top: 100px;
}

.title {
  font-size: 64px;
}

.main-buttons button {
  padding: 10px;
  font-size: 21px !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-title {
  color: white;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.drop-area {
  width: 20vw;
  height: 25vh;
  border: 5px dashed #181818;
  display: flex;
  opacity: 0.3;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
}

.drop-area::before {
  content: "";
    display: block;
    position: absolute;
    background: url("/upload.png") no-repeat;
    width: 20px;
    height: 20px;
    margin: 55px 50%;
    padding: 48px;
    pointer-events: none;
  }

.drop-area-hover {
  opacity: 0.8;
}

.drop-area img {
  pointer-events: none;
  z-index: -5;
  width: 100%;
  height: 100%;
}

.form-control-pic {
  opacity: 0.0 !important;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


@media (max-width: 1024px) {
  .drop-area {
    width: 35vw;
    height: 30vh;
  }
}

@media (max-width: 800px) {
  .drop-area {
    width: 45vw;
    height: 30vh;
  }
}

@media (max-width: 425px) {
  .drop-area {
    width: 80vw;
    height: 30vh;
  }
}

@media (max-width: 320px) {
  .drop-area {
    width: 95vw;
    height: 30vh;
  }
}


@media (max-width: 620px) {
  .title {
    font-size: 35px;
  }

  .main-buttons button {
    font-size: 14px !important;
  }

  footer {
    font-size: 10px;
  }
}